html {
    box-sizing: border-box;
    font-size: 80.5%;
    font-family: 'Raleway', sans-serif;

    line-height: 2;
}


body {
    position: relative;
    min-height: 100vh;
    background: #ffffff;

}

a {
    text-decoration: none;
}

main {
    padding-top: 60px;
}

.form-check-label {
    margin-right: 20px;
}


#card-cotainer {
    margin-top: 11vh;
    padding-bottom: 110px;
    flex-wrap: wrap;
    
}

.card {
    margin: 2vh 3vw;
}

#input-label {
    width: 500px;
    margin-left: 10vw;
}



.Cohort {
    position: absolute;
    right: 4vw;

}

.btn-color {
    background: linear-gradient(to right, rgba(230, 201, 203, 0.5), rgba(151, 78, 128, 0.5));
}

footer>div>a {
    margin-left: 20px;

}

.nav-back {
    background: linear-gradient(to right, rgba(166, 192, 254, 0.5), rgba(246, 128, 132, 0.5));
}

#my-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height:80px;  For avoiding "!important usage it's on html footer style */    
    width: 100%;
    height: 2.5rem;
    background: linear-gradient(to right, rgba(207, 198, 204, 0.5), rgba(254, 249, 215, 0.5))
}


#contact-form {
    text-align: center;
    margin-top: 15vh;
    margin-left: 35vw;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 7vh;
}

legend {
    background: linear-gradient(to right, rgba(190, 35, 225, 0.397), rgba(150, 54, 120, 0.441));
    border: solid 1px;
}

.details {
    margin-top: 10vh;
    margin-left: 20vw;

}

.details img {
    height: 40vh;
    width: 30vw;

}

.details div {
    height: 40vh;
    width: 30vw;
    margin-left: 2vw;
    padding-top: 2vh;
    text-align: center;
    border: solid 1px;
}


@media (max-width: 1000px) {
    .card {
        margin: 0 4px;
    }


}

@media (max-width: 600px) {
    #card-cotainer {
        flex-direction: column;
        align-items: center;
    }

    .main-container {
        flex-direction: column;
    }

    .check-conteiner {
        flex-direction: column;
        align-items: center;
    }

    #input-label {
        margin-top: 3vh;
        width: 60vw;

    }

    .card {
        margin-top: 1vh;
    }

    #my-footer {
        position: absolute;
        /* bottom: -100vh; */

    }



}